In [1]:
import pandas as pd

df = pd.read_csv('assignment2a.csv')

In [2]:
df.head()

   Unnamed: 0  obesity  cvd  age
0           1        1    1    0
1           2        1    1    0
2           3        1    1    0
3           4        1    1    0
4           5        1    1    0

In [3]:
df.drop(columns="Unnamed: 0", inplace=True, errors="ignore")

In [4]:
df.head()

   obesity  cvd  age
0        1    1    0
1        1    1    0
2        1    1    0
3        1    1    0
4        1    1    0

In [7]:
young_df = df[df["age"] == 0]

In [8]:
old_df = df[df["age"] == 1]

In [14]:
non_obese, obese = df["obesity"].value_counts()

In [17]:
no_cvd, cvd = df["cvd"].value_counts()

In [20]:
d, b, c, a = df[["obesity", "cvd"]].value_counts()

In [22]:
odds_ratio = (a / b) / (c / d)

odds_ratio

1.9317585301837272

In [23]:
d_young, b_young, c_young, a_young = young_df[["obesity", "cvd"]].value_counts()

In [24]:
young_odds_ratio = (a_young / b_young) / (c_young / d_young)

young_odds_ratio

1.476190476190476

In [39]:
d_old, b_old, a_old, c_old = old_df[["obesity", "cvd"]].value_counts()

In [40]:
old_odds_ratio = (a_old / b_old) / (c_old / d_old)

old_odds_ratio

1.5365853658536586